/*importando variables*/

@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./fotos/fondo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* ----- GRID ----- */
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "nav" "main" "footer";
    }
    /* ----- áreas del layout ----- */
    #header {
        grid-area: header;
    }
    #nav {
        grid-area: nav;
    }
    #main {
        grid-area: main;
    }
    #footer {
        grid-area: footer;
    }
    body {
        overflow-x: hidden;
    }
}


/* ----- media queries ----- */

@media (min-width: 320px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #main .video-queen {
        margin: 0rem;
        padding-right: 1rem 0rem;
    }
}

#header .navBar {
    width: 100vw;
    height: 6rem;
}

a {
    text-decoration: none;
}

.font-Xl {
    font-size: 2.4rem;
}

.font-L {
    font-size: 2rem;
}

.font-M {
    font-size: 1.6rem;
    font-weight: 400;
}

.font-S {
    font-size: 1.3rem;
    font-weight: 400;
}

.font-Xs {
    font-size: 1.2rem;
}

.textLeft {
    text-align: left;
}

//mixins
@mixin flex($flex-flow, $justify, $align) {
    display: flex;
    flex-flow: $flex-flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex_($flex-flow, $justify) {
    display: flex;
    flex-flow: $flex-flow;
    justify-content: $justify;
}

@mixin borde($style, $width, $radius, $bgColor) {
    border-style: $style;
    border-width: $width;
    border-radius: $radius;
    background-color: $bgColor;
}

// map
$paleta: ( 'uno': #FFFFFF, 'dos': #ffc105, 'tres': #f5f7f8, 'cuatro': #07070780, 'cinco': rgba(32, 33, 36, 1), );
//extends
.btn {
    margin-right: 1.5rem;
    padding: 0rem 2rem;
    line-height: 5rem;
    text-align: center;
}

.redondeado {
    @extend .btn;
    width: 28rem;
    margin-top: 2rem;
    @include borde (solid, 1px, 1rem, rgba(32, 33, 36, 0.1));
    background-color: "";
}

@media (max-width: 520px) {
    #body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        padding: 1rem 4rem;
    }
    #header .encabezado {
        display: flex;
        flex-direction: row-reverse;
        padding: 1.5rem 2rem;
        h1 {
            font-size: 5vw;
        }
    }
    #main .video-queen {
        width: 6rem;
        padding: 1rem 5rem;
    }
}

@media (max-width: 720px) {
    #body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
    }
    #header .encabezado {
        display: flex;
        flex-direction: row-reverse;
        padding: 1.5rem 2rem;
        h1 {
            font-size: 5vw;
        }
    }
    #main .video-queen {
        margin-left: 8rem;
        padding: 1rem 4rem;
    }
}

@media (min-width: 1024px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #nav ul li {
        padding-left: 5rem;
        padding-right: 2rem;
    }
    #main .video {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 9rem;
    }
    #main.caja1 {
        width: 50rem;
        height: 50rem;
    }
    #body {
        justify-content: space-around;
        padding: 2rem 1rem;
        line-height: 4rem;
    }
    #main {
        line-height: 2.5rem;
    }
}

html {
    font-size: 75%;
}

.menu {
    list-style-type: none;
    margin: 0.5rem;
    grid-area: menu;
    display: flex;
    justify-content: end;
    li {
        display: inline-block;
        margin: 5px;
        padding: 5px;
        grid-area: menu li;
        background-color: yellow;
        a {
            text-decoration: none;
            color: black;
        }
        &:hover {
            background-color: red;
        }
    }
}

.hamburger-style {
    border: none;
    text-align: center;
}

.aparecer {
    margin: 50px;
    animation-duration: 8s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    justify-content: flex-start;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.banda {
    background-image: banda;
}

.queen-1 {
    background-image: queen-1;
}

.queen-2 {
    background-image: queen-2;
}

.queen-3 {
    background-image: queen-3;
}

.queen-4 {
    background-image: queen-4;
}

.queenn {
    background-image: queenn;
}

.img-fondo-2 {
    background-image: fondo-2;
}

.video-queen {
    width: 6rem;
}


/* transicion a la caja*/

.caja1 {
    margin: 10px;
    padding: 10px;
    border-top: 20%;
    background-color: black;
    width: 10vw;
    height: 10vw;
    position: relative;
    float: inline-start;
    transition: height 2s, width 1s;
    &:hover {
        height: 400px;
        width: 400px;
        background-color: red;
    }
}