@charset "UTF-8";
/*importando variables*/
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Grechen+Fuemen&family=Roboto:ital,wght@1,100&family=Shadows+Into+Light&family=Splash&display=swap");
/*variables*/
h1 {
  color: #000000;
  margin: 10px;
  padding: 20px;
  border: 8px;
  font-family: "Splash", cursive;
  font-weight: normal;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
}

/* agregando color, margen, espacio y borde al h2 */
h2 {
  color: #FFF600;
  margin: 10px;
  padding: 20px;
  border: 8px;
  font-family: "Roboto Serif", serif;
}

/* agregando color, margen, espacio y borde al h3 */
h3 {
  color: #000000;
  margin: 10px;
  padding: 20px;
  border: 8px;
  font-family: "Roboto Serif", serif;
}

/* agregando color, margen, espacio y borde al h4 */
h4 {
  margin: 10px;
  padding: 20px;
  border: 8px;
  color: #FFFFFF;
  font-family: "Roboto Serif", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./fotos/fondo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* ----- GRID ----- */
  /* ----- áreas del layout ----- */
}
body .contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main" "footer";
}
body #header {
  grid-area: header;
}
body #nav {
  grid-area: nav;
}
body #main {
  grid-area: main;
}
body #footer {
  grid-area: footer;
}
body body {
  overflow-x: hidden;
}

/* ----- media queries ----- */
@media (min-width: 320px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #main .video-queen {
    margin: 0rem;
    padding-right: 1rem 0rem;
  }
}
#header .navBar {
  width: 100vw;
  height: 6rem;
}

a {
  text-decoration: none;
}

.font-Xl {
  font-size: 2.4rem;
}

.font-L {
  font-size: 2rem;
}

.font-M {
  font-size: 1.6rem;
  font-weight: 400;
}

.font-S {
  font-size: 1.3rem;
  font-weight: 400;
}

.font-Xs {
  font-size: 1.2rem;
}

.textLeft {
  text-align: left;
}

.btn, .redondeado {
  margin-right: 1.5rem;
  padding: 0rem 2rem;
  line-height: 5rem;
  text-align: center;
}

.redondeado {
  width: 28rem;
  margin-top: 2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  background-color: rgba(32, 33, 36, 0.1);
  background-color: "";
}

@media (max-width: 520px) {
  #body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
    padding: 1rem 4rem;
  }
  #header .encabezado {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem 2rem;
  }
  #header .encabezado h1 {
    font-size: 5vw;
  }
  #main .video-queen {
    width: 6rem;
    padding: 1rem 5rem;
  }
}
@media (max-width: 720px) {
  #body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
  }
  #header .encabezado {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem 2rem;
  }
  #header .encabezado h1 {
    font-size: 5vw;
  }
  #main .video-queen {
    margin-left: 8rem;
    padding: 1rem 4rem;
  }
}
@media (min-width: 1024px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #nav ul li {
    padding-left: 5rem;
    padding-right: 2rem;
  }
  #main .video {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 9rem;
  }
  #main.caja1 {
    width: 50rem;
    height: 50rem;
  }
  #body {
    justify-content: space-around;
    padding: 2rem 1rem;
    line-height: 4rem;
  }
  #main {
    line-height: 2.5rem;
  }
}
html {
  font-size: 75%;
}

.menu {
  list-style-type: none;
  margin: 0.5rem;
  grid-area: menu;
  display: flex;
  justify-content: end;
}
.menu li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  grid-area: menu li;
  background-color: yellow;
}
.menu li a {
  text-decoration: none;
  color: black;
}
.menu li:hover {
  background-color: red;
}

.hamburger-style {
  border: none;
  text-align: center;
}

.aparecer {
  margin: 50px;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  justify-content: flex-start;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.banda {
  background-image: banda;
}

.queen-1 {
  background-image: queen-1;
}

.queen-2 {
  background-image: queen-2;
}

.queen-3 {
  background-image: queen-3;
}

.queen-4 {
  background-image: queen-4;
}

.queenn {
  background-image: queenn;
}

.img-fondo-2 {
  background-image: fondo-2;
}

.video-queen {
  width: 6rem;
}

/* transicion a la caja*/
.caja1 {
  margin: 10px;
  padding: 10px;
  border-top: 20%;
  background-color: black;
  width: 10vw;
  height: 10vw;
  position: relative;
  float: inline-start;
  transition: height 2s, width 1s;
}
.caja1:hover {
  height: 400px;
  width: 400px;
  background-color: red;
}

/*# sourceMappingURL=estilo.css.map */
