@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Grechen+Fuemen&family=Roboto:ital,wght@1,100&family=Shadows+Into+Light&family=Splash&display=swap');

/*variables*/

$colorUno: #000000;
$colorDos: #FFF600;
$colorTres: #FFFFFF;
$espacio:20px;
$margen:10px;
$borde:8px;
$tipografia1:'Splash',
cursive;
$tipografiageneral:'Roboto Serif',
serif;
$tamaño1:4rem;
$fuente:normal;
$estilofuente:italic;
$ali-cent:center;
h1 {
    color: $colorUno;
    margin: $margen;
    padding: $espacio;
    border: $borde;
    font-family: $tipografia1;
    font-weight: $fuente;
    font-style: $estilofuente;
    font-size: $tamaño1;
    text-align: $ali-cent;
}


/* agregando color, margen, espacio y borde al h2 */

h2 {
    color: $colorDos;
    margin: $margen;
    padding: $espacio;
    border: $borde;
    font-family: $tipografiageneral;
}


/* agregando color, margen, espacio y borde al h3 */

h3 {
    color: $colorUno;
    margin: $margen;
    padding: $espacio;
    border: $borde;
    font-family: $tipografiageneral;
}


/* agregando color, margen, espacio y borde al h4 */

h4 {
    margin: $margen;
    padding: $espacio;
    border: $borde;
    color: $colorTres;
    font-family: $tipografiageneral;
}